//Variables
$color: #FAFAFA;
$typo : "Roboto";
$typoScd : "Roboto-thin";
$typoThd : "Lobster";
$bg : #29353a;

/**Typography**/
@font-face {
	font-family: Roboto;
	src: url(../assets/roboto.ttf);
}

@font-face {
	font-family: Lobster;
	src: url(../assets/lobster.otf);
}

@font-face {
	font-family: Roboto-thin;
	src: url(../assets/roboto-thin.ttf);
}
/************/

body {
	background-color: $color;
	font-family: $typo;
}

.navbar {
	color: $color;
	border-radius: 0;
}

label {
	font-weight: lighter;
}

a{
	color: white !important;
	text-decoration: none !important;
}

h1 {
	font-family: $typoThd;
}

/****Tableau des scores*****/
.ranks table {
	background-color: white;
	color: $bg;
	text-align: center;
	border-radius: 3px 3px 3px 3px;
}

.ranks tr, .ranks th {
	text-align: center;
}

.ranks input {
	border-radius: 0px;
}

.ranks {
	margin-top: 20px;
}
/*************************/

.infosJeu {
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
	color: $bg;
	border-radius: 10px;
	border: 1px solid $bg;
	min-height: 200px;
	margin-top: 10px;
}

p {
	font-family: $typoScd;
	font-weight: bolder;
}

.infosJeu span, #clues span {
	font-family: $typo;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
	background-color: $bg !important;
}

#creerGame {
	margin-top: 15px; 
}