{% include "header.html" %}

<h1>{{title}}</h1>
<p>{{message}}</p>
{% for button in buttons %}
	<button class="btn btn-primary"><a href="{{button.link}}">{{button.title}}</a></button>
{% endfor %}

{% include "footer.html" %}