{% include 'header.html' %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

<h3 class="col-sm-12">Ajouter une destination</h3>
<form method="POST" class="form-horizontal">
	<div class="form-group">
		<label for="label" class="col-sm-2 control-label">Label</label>
		<div class="col-sm-10">
			<input type="text" placeholder="Label" name="label" id="label" step="any"  class="form-control" required>
		</div>
	</div>

	<div class="form-group">
		<label for="latitude" class="col-sm-2 control-label">Latitude</label>
		<div class="col-sm-10">
			<input type="number" placeholder="Latitude" name="latitude" step="any" id="latitude" class="form-control" required>
		</div>
	</div>
	<div class="form-group" class="col-sm-2 control-label">
		<label for="longitude" class="col-sm-2 control-label">Longitude</label>
		<div class="col-sm-10">
			<input type="number" placeholder="Longitude" name="longitude" step="any" id="longitude" class="form-control" required>
		</div>
	</div>
	<div class="form-group" class="col-sm-2 control-label">
		<label for="complement" class="col-sm-2 control-label">Complément</label>
		<div class="col-sm-10">
			<input type="text" placeholder="Complément" name="complement" step="any" id="complement" class="form-control" required>
		</div>
	</div>

	<div class="form-group" class="col-sm-2 control-label">
		<label for="complement" class="col-sm-2 control-label">Indications (en fonction de leur priorité)</label>
		<div class="col-sm-10">
			<input type="text" name="indication1" placeholder="Priorité 1" class="form-control" required>
			<input type="text" name="indication2" placeholder="Priorité 2" class="form-control" required>
			<input type="text" name="indication3" placeholder="Priorité 3" class="form-control" required>
			<input type="text" name="indication4" placeholder="Priorité 4" class="form-control" required>
			<input type="text" name="indication5" placeholder="Priorité 5" class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<input type="submit"   class="btn btn-default btn-default" value="Ajouter la destination">
		</div>
	</div>
</form>
<div id="mapid" style="height:300px" ></div>
	<script>			

		var mymap = L.map('mapid').setView([48.866, 2.3333],9);

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'mapbox.streets'
			}).addTo(mymap);

		var lat, lng;
		var marker = null ;

		mymap.addEventListener('click', function(ev) {

			if (marker !== null) {
        		mymap.removeLayer(marker);
		    }
		   lat = ev.latlng.lat;
		   lng = ev.latlng.lng;
		   document.getElementById("longitude").value = lng;
		   document.getElementById("latitude").value = lat;
			marker = L.marker(ev.latlng).addTo(mymap);
		   
		});


	

	</script>

{% include 'footer.html' %}
