{% include 'header.html' %}

<h3 class="col-sm-12">Connexion à l'espace de gestion</h3>
<form method="POST" action="" class="form-horizontal">
	<div class="form-group">
		<label for="username" class="col-sm-2 control-label">Nom d'utilisateur</label>
		<div class="col-sm-4">
			<input type="text" name="username" id="username" placeholder="Username" class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">Mot de passe</label>
		<div class="col-sm-4">
			<input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
		</div>
	</div>
		<input type="text" name="token" style="display: none;" value="{{token}}">
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<input type="submit" class="btn btn-default btn-default" value="Connexion">
		</div>
	</div>
</form>
<div class="col-sm-4 col-sm-offset-4">
	<a href="../register" ><button class="btn btn-default" style="margin-bottom: 15px;">Je ne suis pas inscrit</button></a>
</div>

{% include 'footer.html' %}
