{% include 'header.html' %}

<h3 class="col-sm-12" >Etes vous sur de vouloir vous déconnecter ?</h3>
<form method="POST" class="form-horizontal">
	<input type="text" name="token" value="{{token}}" style="display:none;" class="form-control">
	<div class="col-sm-4">
		<input type="submit" value="Deconnexion" class="btn btn-primary">
	</div>
</form>

{% include 'footer.html' %}