{% include 'header.html' %}

<h2 class="col-sm-12">{{title}}</h2>
<p class="col-sm-12">{{message}}</p>
<p class="col-sm-12">Vous allez être redirigé dans quelque seconde </p>

{% include 'footer.html' %}


<script> window.setTimeout("location=('http://admin.findyourway.local/login');",2000);</script>