{% include 'header.html' %}

<h3 class="col-sm-12" >M'inscrire sur FindYourWay</h3>
<form method="POST" action="" class="form-horizontal">
	<div class="form-group">
		<label for="username" class="col-sm-2 control-label">Pseudo</label>
		<div class="col-sm-4">
			<input type="text" name="username" placeholder="Username" class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<label for="username" class="col-sm-2 control-label">Mot de passe</label>
		<div class="col-sm-4">	
			<input type="password" name="password" placeholder="Password" id="password" class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<label for="username" class="col-sm-2 control-label">Mot de passe (vérification)</label>
		<div class="col-sm-4">		
			<input type="password" name="password2" placeholder="Password" class="form-control" required>
			<input type="text" name="token" style="display: none;" value="{{token}}">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<input type="submit" class="btn btn-default btn-default" value="Inscription">
		</div>
	</div>
</form>

{% include 'footer.html' %}