{% include 'header.html' %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>

<h3 class="col-sm-12">Ajouter une étape</h3>

<form method="POST" class="form-horizontal">
	<div class="form-group">
		<label for="label" class="col-sm-2 control-label">Label</label>
		<div class="col-sm-10">
			<input type="text" placeholder="Label" name="label" step="any" id="label" class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<label for="label" class="col-sm-2 control-label">Latitude</label>
		<div class="col-sm-10">
			<input id="latitude" type="number" placeholder="Latitude" name="latitude" step="any" id="latitude" class="form-control" required>
		</div>
	</div>
	<div class="form-group">
		<label for="label" class="col-sm-2 control-label">Longitude</label>
		<div class="col-sm-10">
			<input id="longitude" type="number" placeholder="Longitude" name="longitude" step="any" class="form-control" id="longitude" required>
		</div>
	</div>
	<div class="form-group">
		<label for="label" class="col-sm-2 control-label">Indication</label>
		<div class="col-sm-10">
			<input type="text" placeholder="Indication" name="indication" step="any" class="form-control" id="indication" required><br/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2">
			<input type="submit" class="btn btn-default btn-default" value="Ajouter l'étape">
		</div>
	</div>

</form>
	<div id="mapid" style="height:600px" ></div>

	<script>			
		var mymap = L.map('mapid').setView([48.866, 2.3333],9);

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
				'<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
				'Imagery © <a href="http://mapbox.com">Mapbox</a>',
			id: 'mapbox.streets'
			}).addTo(mymap);

		var lat, lng;
		var marker = null ;

		mymap.addEventListener('click', function(ev) {

			if (marker !== null) {
        		mymap.removeLayer(marker);
		    }
		   lat = ev.latlng.lat;
		   lng = ev.latlng.lng;
		   document.getElementById("longitude").value = lng;
		   document.getElementById("latitude").value = lat;
			marker = L.marker(ev.latlng).addTo(mymap);
		   
		});
		
	</script>

{% include 'footer.html' %}