    <table class="table table-hover">
    	<tr><th>Rang</th><th>Pseudo</th><th>Score</th></tr>
    	<tr ng-repeat="rank in ranks">
    		<td>{{rank.rank}}</td>
			<td>{{rank.pseudo}}</td>
			<td>{{rank.score}}</td>
    	</tr>

	 </table>

