//Variables
$color: #FAFAFA;
$typo : "Roboto";
$typoScd : "Roboto-thin";

/**Typography**/
@font-face {
	font-family: Roboto;
	src: url(../assets/roboto.ttf);
}

@font-face {
	font-family: Roboto-thin;
	src: url(../assets/roboto-thin.ttf);
}
/************/

body {
	background-color: $color;
	font-family: $typo;
}

.navbar {
	color: $color;
	border-radius: 0;
}

.container {
	background-color: #EEEEEE;
}

label {
	font-weight: lighter;
}

a{
	color: white !important;
	text-decoration: none;
}