<!DOCTYPE html>
<html lang='fr'>
<head>
  <meta charset='utf-8'>
  <title>FindYourWay</title>
  <link rel="icon" type="image/png" href="images/favicon.png" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
  <link rel="stylesheet" type="text/css" href="styles/css/bootstrap.css">
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/angular-leaflet-directive.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script src="app/app.js"></script>
  <script src="app/models/game.js"></script>
  <script src="app/models/destination.js"></script>
  <script src="app/models/clue.js"></script>
  <script src="app/models/step.js"></script>
  <script src="app/models/level.js"></script>
  <script src="app/controllers/game_controller.js"></script>
  <script src="utils/distance.js"></script>
  <link rel="stylesheet" type="text/css" href="styles/css/styles.css">
  <link rel="stylesheet" type="text/css" href="styles/css/main.css">
  <script src="app/models/rank.js"></script>
  <script src="app/controllers/rank_controller.js"></script>
  <script src="app/directives/rank_directive.js"></script>
 </head>

 <body ng-app='FindyYourWay'>
  <div class="container_fluid main">
  <h1 class="col-sm-12 text-center">FindYourWay</h1>

    <div ng-controller='GameController' id='gameDiv' data-ng-init="init()">

      <div id='map'>
        <leaflet lf-center="center" defaults="defaults" event-broadcast="events" height={{height}} width={{width}} markers="markers" paths="paths" tiles='tiles'></leaflet>
      </div>

      <!--Nouvelle partie-->
      <div class="container">
        <div ng-show='form' class="col-md-4 col-md-offset-4 col-sm-12 text-center row">
          <h3>Lancer une nouvelle partie</h3>
          <form>
              <input type='text' ng-model='pseudo.text' id='pseudo' class="form-control" placeholder="Choisissez un pseudo" ng-required>
               <div class="input-group">
              <select ng-model="selectedLevel" ng-options="level as level.label for level in levels track by level.id" class="form-control">
              </select>
              <span class="input-group-btn">
                <input ng-click='createGame()' class="btn btn-default" type="submit" value="GO !">
              </span>
            </div>
          </form>
        </div>
      </div>
      <!--/Nouvelle partie-->

      <!--Fin de partie-->
      <div class="container">
        <div class="row text-center col-sm-12">
          <div id='score' ng-hide='score'>
            <h3>Voici votre score : {{game.score}}</h3>
            <div id="record">
              <button ng-click="recordScore()" class="btn btn-default">{{record}}</button>
            </div>
            <h4>{{game.destination.complement}}</h4>
          </div>
          <div ng-hide='replay'>
            <button ng-click='createGame()' id="creerGame" class="btn btn-default">Je veux rejouer !</button>
          </div>
          <div id='currentResult'>
            <h3 id='currentWin' ng-hide='currentWin'>Vous avez trouvé !</h3>
            <h3 id='currentLost' ng-hide='currentLost'>Perdu !</h3>
          </div>
        </div>
      </div>
      <!--/Fin de partie-->

      <!--Informations-->
      <div class="container-fluid">
        <div class="row col-md-10 col-md-offset-1 col-sm-12">
          <div id='infos' ng-hide='infos' class="col-sm-12 col-md-4 infosJeu">
            <h3>Informations personnelles</h3>
            <p><span>Votre pseudo :</span> {{game.pseudo}}</p>
            <p id='lives' ng-hide='lives'><span>Choix restants :</span> {{game.lives}}</p>
          </div>

          <div id='placesInfos' ng-hide='placesInfos'>
            <div class="col-sm-12 col-md-4 infosJeu">
              <h3 ng-hide="toFind">À vous de trouver la destination finale!</h3>
              <h3 ng-hide="score">Bravo! vous avez trouvé la destination finale.</h3>
              <h3 ng-hide="lost">Désolé, vous avez perdu..</h3>
              <h3 id="place" ng-hide='place'>Prochain lieu</h3>
              <p id="step">{{game.steps[game.stage].indication}}</p>
            </div>
            <div class="col-md-4 col-sm-12 infosJeu">
              <h3>Vos indices</h3>
              <div id="clues"></div>
            </div>
          </div>
        </div>
      </div>
      <!--/Informations-->

      <!--Tableau des scores-->
      <div class="container">
        <div ng-controller="RankController">
          <div id="displayRank" class="col-md-offset-4 col-md-4 col-sm-12 text-center row ranks">
            <input id="getscore" ng-click="getScoreBoard()" class="btn btn-default col-sm-12" type="submit" value="Tableau des meilleurs scores">
            <rank style="display : none"></rank>
          </div>
        </div>
      </div>
      <!--/Tableau des scores-->

    </div>
  </div>
  <script>
    $("#getscore").on("click",function(){
      $("rank").toggle();
    })
  </script>
  </body>
</html>
